/* =========================NAVBAR========================= */

.navbar{

height:70px;

width:100%;

position:fixed;

top:0;

left:0;

background:#161b22;

border-bottom:1px solid #30363d;

z-index:9999;

display:flex;

justify-content:space-between;

align-items:center;

padding:0 30px;

}



/* =========================LEFT========================= */

.navbar-left{

display:flex;

align-items:center;

gap:15px;

}



.navbar-logo{

width:45px;

height:45px;

border-radius:10px;

object-fit:cover;

}



.brand h2{

color:#f0f6fc;

font-size:22px;

font-weight:700;

}



.brand span{

color:#8b949e;

font-size:12px;

}



/* =========================RIGHT========================= */

.navbar-right{

display:flex;

align-items:center;

gap:15px;

}



.user-info{

display:flex;

flex-direction:column;

text-align:right;

}



.user-name{

color:#f0f6fc;

font-size:15px;

font-weight:600;

}



.user-role{

color:#8b949e;

font-size:13px;

}



.navbar-profile{

width:48px;

height:48px;

border-radius:50%;

object-fit:cover;

border:2px solid #58a6ff;

cursor:pointer;

}



.navbar-profile:hover{

border-color:#2ea043;

}



/* =========================RESPONSIVE========================= */

@media(max-width:600px){

.navbar{

padding:0 15px;

}



.user-info{

display:none;

}



.brand span{

display:none;

}

}